body {
    /* cor de fundo */
    background-color: #F4F7BF;
    /* flexbox */
    display: flex;
    /* centralizar o conteúdo */
    justify-content: center;
    /* centralizar o conteúdo verticalmente */
    align-items: center;
    /* altura da tela */
    height: 100vh;;
}
.cartão { /*usamos a classe cartão para estilizar a div*/
    /* cor de fundo */
    background-color: #FFF;
    /* borda arredondada */
    border-radius: 10px;
    /* sombra */
    box-shadow: 0 10px 8px rgba(1, 0, 0, 0.1);
    /* padding */
    padding: 20px;
    /* largura fixa */
    width: 300px;
    /*alinhamento do texto */
    text-align: center;
}
button {
    /* cor de fundo */
    background-color: #000000;
    /* cor do texto */
    color: rgb(255, 255, 255);
    /* borda arredondada */
    border-radius: 5px;
    /* sem borda */
    border: none;
    /* padding */
    padding: 10px 20px;
    /* cursor pointer */
    cursor: pointer;
}
button:hover {
    /* cor de fundo ao passar o mouse */
    background-color: #333;
    transform: scale(1.05);
    padding: auto;
}
.imagem {
    /* largura da imagem */
    width: 100px;
    /* altura da imagem */
    height: 100px;
    /* borda arredondada */
    border-radius: 50%;
    /* margem inferior */
    margin-bottom: 5px;
    border: 3px solid #000000;
}
